body{
	margin: auto;
	padding: auto;
	grid-template-rows: 1fr;
	grid-template-columns: 4fr;
}

.main-wrapper{

}

.hero-shot{
	margin-top: 6vw;
	grid-template-columns: 1fr;
	grid-row: 1fr;
	z-index: 1;
}

.hero-shot img{
	display: grid;
	grid-template-areas:
	'5';
	margin: 0 auto;
	max-width: 100%;
}

.hero-shot .CTA{
	display: flex;
	justify-content: center;
}

#article-section{
	display: grid;
	grid-template-areas:
	'1 2 3 4';
	gap: 2vw;
	margin: 2vw;
	margin-top: 6vw;
}

.block{
	text-align: center;
	align-items: center;
}

.CTA{
	width: 14%;
	height: 5.5%;
	background-color: #103475;
	border-radius: 5px;
	border: 1px solid white;
	position: absolute;
	left: 50%;
	top: 20%;

}

.CTA a{
	padding-top: 8px;
	text-decoration: none;
	color: white;
}